@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="small-6 columns small-centered">
        <p>
            Nu kör vi!
        </p>
        <a href="#" class="button">Default Button</a>
    </div>
</div>
